<p id="notice"><%= notice %></p>

<h1>Current Blog Posts</h1>

<div class="row">
  <% @blog_posts.each do |blog_post| %>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to blog_post.title, blog_post %>
      </div>
      <div class="panel-body">
        by <%= blog_post.user.username %>
        <p>
          <%= blog_post.blog_entry[0..250] %>
          <% if blog_post.blog_entry. length > 250 %>
            <%= link_to "...read more", blog_post %>
          <% end %>
        </p>
      </div>
      <div class="panel-footer">
        <%= link_to "Edit", edit_blog_post_path(blog_post), class: "btn btn-warning" %>
        <%= link_to "Destroy", blog_post, class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= link_to "New Blog Post", new_blog_post_path %>
