<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
	<div class="panel-heading">
		<%= @blog_post.title %>
	</div>
	<div class="panel-body">
		<p>by <%= @blog_post.user.username %> at <%= @blog_post.created_at.strftime('%d/%m/%Y %l:%M%p') %></p>
		<p><%= @blog_post.blog_entry %></p>
	</div>
</div>

<div class="panel panel-success">
	<div class="panel-heading">
		Make a Comment
	</div>
	<div class="panel-body">
		<% if user_signed_in? %>
			<%= render 'comments/form' %>
		<% else %>
			<p><%= link_to "Sign in", new_user_session_path %> to add a comment.</p>
		<% end %>
	</div>
</div>

<div class="panel panel-info">
	<div class="panel-heading">
		<h4>Comments</h4>
	</div>
		<% @blog_post.comments.each do |comment| %>
			<div class="panel-body">
				<p><strong><%= comment.user.username %> at <%= comment.created_at.strftime('%d/%m/%Y %l:%M%p') %></strong></p>
				<p><%= comment.comment_entry %></p>
			</div>
		<% end %>
</div>

<div>
	<% if user_signed_in? && current_user.id == @blog_post.user.id %>
	<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
	<% end %>
	<%= link_to 'Back', blog_posts_path %>
</div>	
